{% load static%}
<nav class="navbar top-navbar p-2">
    <div class="container-fluid">
    <div class="navbar-left">
    <div class="navbar-btn">
    <a href="#"><img src="{% static 'ugs_app/assets/logo.png'%}" alt="Oculux Logo" class="img-fluid logo"></a>
    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    </div>
    <div class="navbar-right">
    <div id="navbar-menu">
    <ul class="nav navbar-nav">
    <li><span class="fw-bold text-white" style="text-transform: capitalize;">{{user}}</span></li>
    <li><a href="javascript:void(0);" class="right_toggle icon-menu" title="Right Menu"><img src="{% static 'ugs_app/assets/user.png'%}" style="width: 30px;height: 30px;border-radius: 50%;" class="user-photo" alt="User Profile Picture"></a></li>
    <li><a class="signout" href="#" ><i class="icon-power"></i></a></li> 
    </ul>
    </div>
    </div>
    </div>
    <div class="progress-container"><div class="progress-bar" id="myBar"></div></div>
    </nav> 
    