<!DOCTYPE html>
{% load static%}
<html lang="en">
{% include '../includes/header.html'%}
<body class="theme-orange font-montserrat">
<div class="page-loader-wrapper">
<div class="loader">
<div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div>
<div class="bar4"></div>
<div class="bar5"></div>
</div>
</div>
<div class="overlay" ></div>
<div id="wrapper">
{% include '../includes/top_nav.html'%}

{%  include '../includes/right_side_nav.html'%}

</div> 
<!-- sidebar -->
{% include '../includes/side_nav.html'%}
<div id="main-content">
<div class="container-fluid">
<!-- Main Content -->

<!-- /////////////////// -->

<div class="row clearfix">
<!-- / -->
<div class="col-lg-4 col-md-12">
    <a class="card m-0" href="javascript:void(0)">
    <div class="body text-center">
        <div id="preview">
            <img class="w-100 image_preview" src="{% static 'ugs_app/assets/2.jpg'%}" alt>
        </div>
    
    </div>
    <!-- <div id="particles-js"></div> -->
    <div class="card-footer text-center">
    <div class="row clearfix"  >
    <div class="col-12">
        <form id="game_frm" method="POST" enctype="multipart/form-data">
         
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Image</span>
            </div>
            <div class="custom-file">
            <input type="file" name="g_image" class="custom-file-input form-control" id="game_img" >
            <label class="custom-file-label" for="game_img">Choose file</label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
            </div>
            <input type="text" name="g_name" placeholder="Game Title" class="form-control "  required="" id="gname">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Category</span>
            </div>
            <select name="g_category"  class="form-control bg-dark" required="" id="category">
                <option value="" selected="">-------</option>
                <option value="E-SABONG">E-SABONG</option>
                <option value="BALL GAMES">BALL GAMES</option>

              </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
            </div>
           <textarea class="form-control" name="g_desc"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Game Link</span>
            </div>
            <input type="text" name="g_link" placeholder="https:\\" class="form-control " required id="glink">
        </div>
          <!-- {{game_frm}} -->

        <button class="btn btn-warning btn-block" form="game_frm"  type="submit">Submit</button>

      
    </form>
    </div>
    </div>
    </div>
    </a>

    </div>

    <!-- / -->
    <div class="col-lg-8 col-md-12">
    <div class="table-responsive">
    <table class="table table-hover table-custom spacing5">
    <thead>
    <tr>
    <th style="width: 20px;">#</th>
    <th>Client</th>
    <th style="width: 50px;">Amount</th>
    <th style="width: 50px;">Status</th>
    <th style="width: 110px;">Action</th>
    </tr>
    </thead>
    <tbody>

        {% for g in games%}

    <tr>
    <td>
    <span>01</span>
    </td>
    <td>
    <div class="d-flex align-items-center">
    <div class="avtar-pic w35 bg-red" data-toggle="tooltip" data-placement="top" title="Avatar Name"><img class="w-100" src="/{{g.g_image}}"></div>
    <div class="ml-3">
    <a href="page-invoices-detail.html" title>{{g.g_name}}</a>
    <p class="mb-0"><a href="https://oculux.nsdbytes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d6a5b9a3a2bef8a5beafb7b8b8b396b3aeb7bba6bab3f8b5b9bb">[email&#160;protected]</a></p>
    </div>
    </div>
    </td>
    <td>{{g.g_image}}</td>
    <td><span class="badge badge-success ml-0 mr-0">Done</span></td>
    <td>
    <button type="button" class="btn btn-sm btn-default" title="Send Invoice" data-toggle="tooltip" data-placement="top"><i class="icon-envelope"></i></button>
    <button type="button" class="btn btn-sm btn-default " title="Print" data-toggle="tooltip" data-placement="top"><i class="icon-printer"></i></button>
    <button type="button" class="btn btn-sm btn-default" title="Delete" data-toggle="tooltip" data-placement="top"><i class="icon-trash"></i></button>
    </td>
    </tr>
   {% endfor%}
   
    </tbody>
    </table>
    </div>
    
    </div> 

    <!-- end table -->

</div>

</div>

</div>

</div>
   
    
<!-- /////////////////// -->
<!-- End Content -->
</div>
</div>
</div>
</div>
</div>

</div>


{% include '../modals/admin_modal.html'%}
{% include '../includes/footer_script.html'%}


</body>

</html>
